/* Team area css
============================================================================================ */
.appsy_team_area{
    padding: 105px 0px 105px 0px;
    .team_inner_area{
        
    }
    &.red_team{
        .team_slider_active{
            .item{
                .hover_team{
                    .hover_team_inner{
                        ul{
                            li{
                                display: inline-block;
                                margin-right: 10px;
                                padding-bottom: 8px;
                                a{
                                    display: block;
                                    color: #fff;
                                    background: $red;
                                    height: 30px;
                                    width: 30px;
                                    border-radius: 50%;
                                    font-size: 12px;
                                    line-height: 30px;
                                    position: relative;
                                    bottom: -30px;
                                    transition: all 300ms linear;
                                    opacity: 0;
                                    &:before{
                                        content: "";
                                        position: absolute;
                                        background: rgba(237, 56, 81, 1);
                                        top: 0;
                                        right: 0;
                                        bottom: 0;
                                        left: 0;
                                        -webkit-animation-duration: 1s;
                                        animation-duration: 1s;
                                        border-radius: 50%;
                                        opacity: 0;
                                        z-index: -1;
                                    }
                                }
                                &:hover{
                                    a{
                                        &:before{
                                            animation-name: hvr-ripple-out;
                                            opacity: 1;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
                &:hover{
                    .hover_team{
                        &:before{
                            opacity: 1;
                        }
                        .hover_team_inner{
                            h4{
                                span{
                                    left: 0px;
                                    opacity: 1;
                                }
                            }
                            h5{
                                span{
                                    bottom: 0px;
                                }
                            }
                            ul{
                                li{
                                    a{
                                        bottom: 0px;
                                        opacity: 1;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    &.blue_team{
        .team_slider_active{
            .item{
                .hover_team{
                    .hover_team_inner{
                        ul{
                            li{
                                display: inline-block;
                                margin-right: 10px;
                                padding-bottom: 8px;
                                a{
                                    display: block;
                                    color: #fff;
                                    background: $blue;
                                    height: 30px;
                                    width: 30px;
                                    border-radius: 50%;
                                    font-size: 12px;
                                    line-height: 30px;
                                    position: relative;
                                    bottom: -30px;
                                    transition: all 300ms linear;
                                    opacity: 0;
                                    &:before{
                                        content: "";
                                        position: absolute;
                                        background: rgba(0, 141, 214, 1);
                                        top: 0;
                                        right: 0;
                                        bottom: 0;
                                        left: 0;
                                        -webkit-animation-duration: 1s;
                                        animation-duration: 1s;
                                        border-radius: 50%;
                                        opacity: 0;
                                        z-index: -1;
                                    }
                                }
                                &:hover{
                                    a{
                                        &:before{
                                            animation-name: hvr-ripple-out;
                                            opacity: 1;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
                &:hover{
                    .hover_team{
                        &:before{
                            opacity: 1;
                        }
                        .hover_team_inner{
                            h4{
                                span{
                                    left: 0px;
                                    opacity: 1;
                                }
                            }
                            h5{
                                span{
                                    bottom: 0px;
                                }
                            }
                            ul{
                                li{
                                    a{
                                        bottom: 0px;
                                        opacity: 1;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
.team_slider_active{
    .item{
        position: relative;
        z-index: 2;
        .hover_team{
            position: absolute;
            left: 0px;
            top: 0px;
            width: 100%;
            height: 100%;
            z-index: 1;
            text-align: center;
            color: #fff;
            &:before{
                content: "";
                background: rgba(0, 0, 0, .60);
                width: 100%;
                height: 100%;
                position: absolute;
                left: 0px;
                top: 0px;
                z-index: -1;
                opacity: 0;
                transition: all 200ms ease-in;
            }
            .hover_team_inner{
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                width: 100%;
                text-align: center;
                h4{
                    font-size: 18px;
                    text-transform: uppercase;
                    font-family: $op;
                    overflow: hidden;
                    display: inline-block;
                    color: #fff;
                    span{
                        position: relative;
                        left: -30px;
                        opacity: 0;
                        @include transition;
                    }
                }
                h5{
                    font-size: 14px;
                    font-family: $op;
                    margin: 6px 0px 30px 0px;
                    overflow: hidden;
                    span{
                        bottom: -25px;
                        position: relative;
                        display: inline-block;
                        transition: all 500ms linear;
                    }
                }
                ul{
                    li{
                        display: inline-block;
                        margin-right: 10px;
                        padding-bottom: 8px;
                        a{
                            display: block;
                            color: #fff;
                            background: $baseColor;
                            height: 30px;
                            width: 30px;
                            border-radius: 50%;
                            font-size: 12px;
                            line-height: 30px;
                            position: relative;
                            bottom: -30px;
                            transition: all 300ms linear;
                            opacity: 0;
                            &:before{
                                content: "";
                                position: absolute;
                                background: rgba(103, 58, 183, 1);
                                top: 0;
                                right: 0;
                                bottom: 0;
                                left: 0;
                                -webkit-animation-duration: 1s;
                                animation-duration: 1s;
                                border-radius: 50%;
                                opacity: 0;
                                z-index: -1;
                            }
                        }
                        &:nth-child(2){
                            a{
                                transition-delay: .1s;
                            }
                        }
                        &:nth-child(3){
                            a{
                                transition-delay: .2s;
                            }
                        }
                        &:nth-child(4){
                            a{
                                transition-delay: .3s;
                            }
                        }
                        &:last-child{
                            margin-right: 0px;
                            a{
                                transition-delay: .4s;
                            }
                        }
                        &:hover{
                            a{
                                &:before{
                                    animation-name: hvr-ripple-out;
                                    opacity: 1;
                                }
                            }
                        }
                    }
                }
            }
        }
        &:hover{
            .hover_team{
                &:before{
                    opacity: 1;
                }
                .hover_team_inner{
                    h4{
                        span{
                            left: 0px;
                            opacity: 1;
                        }
                    }
                    h5{
                        span{
                            bottom: 0px;
                        }
                    }
                    ul{
                        li{
                            a{
                                bottom: 0px;
                                opacity: 1;
                            }
                        }
                    }
                }
            }
        }
    }
}
/* End Team area css
============================================================================================ */

/* User Review area css
============================================================================================ */
.user_review_area{
    padding: 105px 0px;
    .user_t{
        text-align: center;
        font-family: $mon;
        font-weight: 400;
        color: $dip;
        text-transform: uppercase;
        font-size: 32px;
        padding-bottom: 60px;
    }
    .user_review_slider{
        .item{
            text-align: center;
            max-width: 740px;
            margin: auto;
            img{
                max-width: 100%;
                width: auto;
                margin: auto;
            }
            p{
                font-size: 14px;
                font-family: $op;
                line-height: 26px;
                color: $dip;
                padding: 30px 0px 40px 0px;
            }
            ul{
                li{
                    display: inline-block;
                    a{
                        color: #ffbf00;
                        font-size: 20px;
                    }
                }
            } 
            h4{
                font-size: 14px;
                color: $dip;
                font-family: $op;
                text-transform: uppercase;
                padding-top: 3px;
            }
        }
        .owl-prev{
            left: 0px;
        }
        .owl-prev, .owl-next{
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            z-index: 4;
            i{
                height: 42px;
                width: 42px;
                border-radius: 50%;
                text-align: center;
                display: inline-block;
                border: 1px solid $dip;
                line-height: 38px;
                font-size: 30px;
                color: $dip;
                cursor: pointer;
                @include transition;
                &:hover{
                    border-color: $baseColor;
                    color: #fff;
                    background: $baseColor;
                }
            }
        }
        .owl-next{
            right: 0px;
        }
    }
    &.red_user_review{
        .user_review_slider{
            .owl-prev, .owl-next{
                i{
                    height: 42px;
                    width: 42px;
                    border-radius: 50%;
                    text-align: center;
                    display: inline-block;
                    border: 1px solid $dip;
                    line-height: 38px;
                    font-size: 30px;
                    color: $dip;
                    cursor: pointer;
                    @include transition;
                    &:hover{
                        border-color: $red;
                        color: #fff;
                        background: $red;
                    }
                }
            }
        }
    }
    &.blue_user_review{
        .user_review_slider{
            .owl-prev, .owl-next{
                i{
                    height: 42px;
                    width: 42px;
                    border-radius: 50%;
                    text-align: center;
                    display: inline-block;
                    border: 1px solid $dip;
                    line-height: 38px;
                    font-size: 30px;
                    color: $dip;
                    cursor: pointer;
                    @include transition;
                    &:hover{
                        border-color: $blue;
                        color: #fff;
                        background: $blue;
                    }
                }
            }
        }
    }
}
/* End User Review area css
============================================================================================ */