/* Coming area css
============================================================================================ */
.coming_soon_area{
    .forcefullwidth_wrapper_tp_banner{
        .rev_slider_wrapper{
            .rev_slider{
                ul{
                    li{
                        .tp-caption.tp-resizeme{
                            color: rgba(138, 43, 255, 1.00);
                            font-weight: bold;
                            font-family: $op;
                            z-index: 5;
                        }
                    }
                }
            }
        }
    }
}
/* End Coming area css
============================================================================================ */